:root {

  --background-1: #002B36;
  --background-2: #083642;

  --foreground-color: #FDF6E3;
  --highlight-color: #2AA198;
  --border-color: #00252e;
  --pre-color: #d6dbdb;

  --accent-1: #93A1A1;
  --accent-2: #D6488A;
  --accent-3: #6B71C4;
  --accent-4: #859901;
  --accent-5: #B58900;

  --content-1: #586D75;
  --content-2: #667A83;
  --content-3: #839496;
  --content-4: #93A1A1;

  /* Footer */
  --footer-bar-border-top-color: 0;

  /* Column Menus */
  --menu-item-sep-color: rgba(0, 0, 0, 0.1);

  --sn-component-foreground-color: var(--content-1);
  --sn-component-background-color: var(--border-color);
  --sn-component-foreground-highlight-color: var(--highlight-color);
  --sn-component-outer-border-color: transparent;
  --sn-component-inner-border-color: var(--highlight-color);

  // StyleKit Vars
  --sn-stylekit-info-color: var(--highlight-color);
  --sn-stylekit-info-contrast-color: var(--foreground-color);

  --sn-stylekit-shadow-color: var(--background-2);

  --sn-stylekit-background-color: var(--background-1);
  --sn-stylekit-foreground-color: var(--foreground-color);
  --sn-stylekit-border-color: var(--border-color);

  --sn-stylekit-paragraph-text-color: var(--foreground-color);

  --sn-stylekit-contrast-background-color: var(--background-2);
  --sn-stylekit-contrast-foreground-color: var(--foreground-color);
  --sn-stylekit-contrast-border-color: var(--border-color);

  --sn-stylekit-secondary-background-color: var(--background-1);
  --sn-stylekit-secondary-foreground-color: var(--foreground-color);
  --sn-stylekit-secondary-border-color: var(--border-color);

  --sn-stylekit-secondary-contrast-background-color: var(--background-2);
  --sn-stylekit-secondary-contrast-foreground-color: var(--foreground-color);
  --sn-stylekit-secondary-contrast-border-color: var(--border-color);

  --sn-stylekit-scrollbar-track-border-color: var(--border-color);

  --sn-desktop-titlebar-bg-color: var(--background-1);
  --sn-desktop-titlebar-border-color: var(--border-color);
  --sn-desktop-titlebar-ui-color: var(--foreground-color);
  --sn-desktop-titlebar-ui-hover-color: var(--highlight-color);
}

/* Editors */

.CodeMirror {
  background-color: var(--background-1) !important;
  color: var(--content-4) !important;
  border: 0 !important;
}

.CodeMirror-cursor {
  border-color: white;
}

.CodeMirror-selected {
  background-color: var(--highlight-color) !important;
}

.CodeMirror-selectedtext {
  color: var(--foreground-color) !important;
}

.CodeMirror-gutters {
  background-color: var(--background-1) !important;
  color: var(--content-4) !important;
  border-color: var(--border-color) !important;
}

.CodeMirror .cm-header { font-family: arial; color: var(--content-4) !important;}
.CodeMirror .cm-variable-2 { font-family: arial; color: var(--highlight-color) !important;}
.CodeMirror .cm-link, .cm-string, .cm-keyword { font-family: arial; color: var(--content-4) !important;}

.CodeMirror .CodeMirror-linenumber { color: gray !important; }

/* Code Editor bottom toolbar */

#select-wrapper {
  background-color: var(--background-1) !important;
  color: var(--content-4) !important;
  border-color: var(--border-color) !important;
}

/* Advanced Markdown top toolbar */

.editor-toolbar {
  background-color: var(--background-1) !important;
  border-color: var(--border-color) !important;
}

.editor-toolbar::before, ::after {
  background: 0 !important;
}

.editor-toolbar a {
  color: var(--content-4) !important;
}

.editor-toolbar a.active, .editor-toolbar a:hover {
  border-color: transparent;
  background: var(--border-color);
}

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
  background: inherit;
}

.editor-preview-active, .editor-preview-active-side {
  background-color: var(--background-1) !important;
  border: 0 !important;
  border-left: 1px solid var(--border-color) !important;
  color: var(--content-4) !important;
}

.editor-preview-active {
  border: 0 !important;
}

#sn-advanced-markdown-editor .editor-preview.editor-preview-active pre, #sn-advanced-markdown-editor .editor-preview-side.editor-preview-active-side pre {
  background-color: var(--border-color);
  padding: 20px;
}

/* Plus Editor */

#plus-editor .note-editor.note-frame.fullscreen .note-editable {
  background-color: var(--background-1) !important;
  color: var(--content-4) !important;
}

#plus-editor .panel-default>.panel-heading {
    background-color: var(--border-color) !important;
}

#plus-editor .btn-default {
    color: var(--content-4) !important;
    background-color: var(--background-1) !important;
    border-color: var(--background-1) !important;
}

#plus-editor .panel-heading {
    border-color: var(--border-color) !important;
}

#plus-editor .dropdown-menu>li>a {
    color: var(--content-4);
}

#plus-editor pre {
    background-color: var(--pre-color);
}

.component-stack-border {
  border-color: var(--border-color) !important;
}

 /*SN Components */

 :root {
   --body-text-color: var(--content-4);
   --body-background-color: var(--background-1);

   --element-text-color: var(--content-4);
   --element-background-color: var(--background-1);

   --tint-color: var(--highlight-color);
 }

.sn-component .element-background-color {
  background-color: var(--element-background-color);
}

.sn-component .body-background-color {
  background-color: var(--body-background-color);
}

.sn-component .element-text-color {
  color: var(--element-text-color);
}

.sn-component .body-text-color {
  color: var(--body-text-color);
}

.sn-component .border-color {
  border-color: var(--border-color) !important;
}
